/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
    font-family: 'Arial', sans-serif;
}
header{
    background:#3498db;
    border-bottom: 3px solid #3c759a;
}
h1{
    font-size: 35px;
    padding: 40px 0;
    font-weight:300;
    color: #fff;
    text-align: center;
}
.wp{
    width: 960px;
    margin: auto;
}
.tweet{
    background: #3c759a;
    padding: 15px 10px;
    text-align: center;
    display: block;
    width: 500px;
    line-height: 25px;
    margin: 10px auto;
    border-radius: 3px;
    color: #fff;
}

.fork{
    width: 230px;
    margin: auto;
    padding: 15px;
    background: #3498db;
    border-bottom: 3px solid #225779;
    border-radius: 3px;
}
.fork img{
    width: 50px;
    float: left;
    border-radius: 50%;
}
.fork h3{
    display: block;
    height: 50px;
    line-height: 50px;
    margin-left: 60px;
    font-size: 18px;
}
.fork h3 a{
    display: block;
    text-decoration: none;
    color: #fff;
}
.fork h3 a:hover{
    color: #7c97dd;
}

.tweet_link{
    color: #1abc9c;
    text-decoration: none;
}
.tweet_user{
    color: #ccc;
    text-decoration: none;
}
.hashtag{
    color: #f39c12;
}